<p-toast></p-toast>

<p-card header={{headerTitle}}>
  <form [formGroup]="form">
    <lib-form-field [formGroup]="form" [label]="'User ID'" fieldName="userId" />
    <lib-form-field [formGroup]="form" [label]="'ID'" fieldName="id" />
    <lib-form-field [formGroup]="form" [label]="'Title'" fieldName="title" />
    <lib-form-field
      [formGroup]="form"
      [label]="'Completed'"
      fieldName="completed"
    />
    <div class="space-x-2">
      <p-button
        label={{label}}
        icon="pi pi-check"
        [loading]="isLoading"
        [disabled]="form.invalid"
        (onClick)="onSubmit()"
      />
      <p-button
        severity="secondary"
        label="Cancel"
        (onClick)="goBack()"
      />
    </div>
  </form>
</p-card>
